<!DOCTYPE html>
<html lang="en" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" layout:decorate="~{default}">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Детали заявки</title>
    <style>

    </style>
</head>
<body>

<div class="container" layout:fragment="content">
    <h2>Детали заявки</h2>

    <!-- Информация о заявке -->
    <div class="request-info">
        <h4 class="section-title">Информация о заявке</h4>
        <div>
            <div><strong>Тип заявки:</strong> <span th:text="${request.requestType.value}"></span></div>
            <div><strong>Статус:</strong> <span th:text="${request.status.value}"></span></div>
            <div><strong>Дата создания:</strong> <span th:text="${request.createdAt}"></span></div>
            <div><strong>Дата обработки:</strong> <span th:text="${request.processedAt}"></span></div>
        </div>
    </div>

    <!-- Старые характеристики оборудования -->
    <div class="equipment-info" th:if="${request.equipment != null}">
        <h4 class="section-title">Старые характеристики оборудования</h4>
        <div>
            <div><strong>Название:</strong> <span th:text="${request.equipment.name}"></span></div>
            <div><strong>Серийный номер:</strong> <span th:text="${request.equipment.serialNumber}"></span></div>
            <div><strong>Инвентарный номер:</strong> <span th:text="${request.equipment.inventoryNumber}"></span></div>
            <div><strong>Производитель:</strong> <span th:text="${request.equipment.manufacturer}"></span></div>
            <div><strong>Модель:</strong> <span th:text="${request.equipment.model}"></span></div>
            <div><strong>Дата покупки:</strong> <span th:text="${request.equipment.purchaseDate}"></span></div>
            <div><strong>Гарантия:</strong> <span th:text="${request.equipment.warrantyExpiration}"></span></div>
        </div>

        <div th:if="${currentType == 'COMPUTER'}">
            <div><strong>Процессор:</strong> <span th:text="${request.equipment.cpu}"></span></div>
            <div><strong>Оперативная память (ГБ):</strong> <span th:text="${request.equipment.ram}"></span></div>
            <div><strong>Память (ГБ):</strong> <span th:text="${request.equipment.storage}"></span></div>
            <div><strong>Графическая карта:</strong> <span th:text="${request.equipment.gpu}"></span></div>
        </div>

        <div th:if="${currentType == 'PRINTER'}">
            <div><strong>Тип принтера:</strong> <span th:text="${request.equipment.printerType}"></span></div>
            <div><strong>Цветной:</strong> <span th:text="${request.equipment.isColor ? 'Да' : 'Нет'}"></span></div>
            <div><strong>Поддерживаемый размер печати:</strong> <span th:text="${request.equipment.paperSize}"></span>
            </div>
        </div>
    </div>

    <!-- Новые характеристики оборудования -->
    <div class="equipment-info">
        <h4 class="section-title">Новые характеристики оборудования</h4>
        <div>
            <div><strong>Название:</strong> <span th:text="${request.name}"></span></div>
            <div><strong>Серийный номер:</strong> <span th:text="${request.serialNumber}"></span></div>
            <div><strong>Инвентарный номер:</strong> <span th:text="${request.inventoryNumber}"></span></div>
            <div><strong>Производитель:</strong> <span th:text="${request.manufacturer}"></span></div>
            <div><strong>Модель:</strong> <span th:text="${request.model}"></span></div>
            <div><strong>Дата покупки:</strong> <span th:text="${request.purchaseDate}"></span></div>
            <div><strong>Гарантия:</strong> <span th:text="${request.warrantyExpiration}"></span></div>
        </div>

        <div th:if="${currentType == 'COMPUTER'}">
            <div><strong>Процессор:</strong> <span th:text="${request.cpu}"></span></div>
            <div><strong>Оперативная память (ГБ):</strong> <span th:text="${request.ram}"></span></div>
            <div><strong>Память (ГБ):</strong> <span th:text="${request.storage}"></span></div>
            <div><strong>Графическая карта:</strong> <span th:text="${request.gpu}"></span></div>
        </div>

        <div th:if="${currentType == 'PRINTER'}">
            <div><strong>Тип принтера:</strong> <span th:text="${request.printerType}"></span></div>
            <div><strong>Цветной:</strong> <span th:text="${request.isColor ? 'Да' : 'Нет'}"></span></div>
            <div><strong>Поддерживаемый размер печати:</strong> <span th:text="${request.paperSize}"></span></div>
        </div>
    </div>

</div>

</body>
</html>
